[Unit]
Description=FDO Manufacturing Server

[Container]
Image={{ manufacturing.image }}
ContainerName={{ manufacturing.name }}
Restart=always
PublishPort={{ manufacturing.port.host_port }}:{{ manufacturing.port.container_port }}
{% for v in manufacturing.volumes %}
Volume={{ v.local_path }}:{{ v.container_path }}Z
{% endfor %}

[Install]
WantedBy=multi-user.target default.target