[Unit]
Description=FDO ServiceInfo API Server

[Container]
Image={{ serviceinfo.image }}
ContainerName={{ serviceinfo.name }}
Restart=always
PublishPort={{ serviceinfo.port.host_port }}:{{ serviceinfo.port.container_port }}
{% for v in serviceinfo.volumes %}
Volume={{ v.local_path }}:{{ v.container_path }}Z
{% endfor %}

[Install]
WantedBy=multi-user.target default.target
