
[Container]
Image={{ manufacturing.image }}
Name={{ manufacturing.name }}
Restart=always
Port={{ manufacturing.port.host_port }}:{{ manufacturing.port.container_port }}
{% for v in manufacturing.volumes %}
Volume={{ v.local_path }}:{{ v.container_path }}Z
{% endfor %}