[Unit]
Description=Proxy container to redirect health monitoring ping requests to POST

[Container]
Image=docker.io/library/haproxy:3.1
ContainerName=haproxy-app
PublishPort=80:80
Volume=/usr/local/etc/haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:z

[Install]
WantedBy=multi-user.target default.target
