---
ownership_voucher_store_driver:
  Postgres:
    server: "{{ owneronboarding_db_server }}"
    url: "{{ owneronboarding_db_url }}"
session_store_driver:
  Directory:
    path: /etc/fdo/stores/owner_onboarding_sessions
trusted_device_keys_path: /etc/fdo/keys/device_ca_cert.pem
owner_private_key_path: /etc/fdo/keys/owner_key.der
owner_public_key_path: /etc/fdo/keys/owner_cert.pem
bind: "0.0.0.0:{{ owner_onboarding.port.host_port | default('8081') }}"
report_to_rendezvous_endpoint_enabled: true
service_info_api_url: "http://serviceinfo.{{ base_domain }}:{{ serviceinfo.port.host_port | default('8083') }}/device_info"
service_info_api_authentication:
  BearerToken:
    token: "{{ serviceinfo_api_server_auth_token }}"
owner_addresses:
  - transport: http
    addresses:
      - dns_name: "owneronboarding.{{ base_domain }}"
    port: {{ owner_onboarding.port.host_port | default('8081') }}