storage_driver:
  Postgres:
    server: "{{ rendezvous_db_server }}" 
    url: "{{ rendezvous_db_url }}"
session_store_driver:
  Directory:
    path: /etc/fdo/stores/rendezvous_sessions
trusted_manufacturer_keys_path: /etc/fdo/keys/manufacturer_cert.pem
max_wait_seconds: ~
bind: "0.0.0.0:{{ rendezvous.port.host_port | default('8082') }}"