[Unit]
Description={{ description }}

[Container]
Image={{ image }}
ContainerName={{ name }}

PublishPort={{ host_port }}:{{ container_port }}
Volume=fdo-stores.volume:/etc/fdo/stores:z
Volume=fdo-keys.volume:/etc/fdo/keys:z
Volume={{ config_volume }}:{{ dest }}:z

[Install]
WantedBy=multi-user.target default.target