[Unit]
Description={{ description }}

[Container]
Image={{ image }}
ContainerName={{ name }}

PublishPort={{ host_port }}:{{ container_port }}
Volume=/etc/fdo/stores:/etc/fdo/stores:z
Volume=/etc/fdo/keys:/etc/fdo/keys:z
Volume={{ host_path }}:{{ container_path }}:z

[Install]
WantedBy=multi-user.target default.target