---
service_info:
  initial_user:
    username: "{{ admin_user }}"
    sshkeys:
    - "{{ admin_ssh_key }}"
  files:
  - path: /etc/resolv.conf
    permissions: 644
    source_path: /etc/resolv.conf
  {{ serviceinfo.commands | to_yaml }}    
  diskencryption_clevis:
    - disk_label: /dev/vda4
      binding:
        pin: tpm2
        config: "{}"
      reencrypt: true
  additional_serviceinfo: ~
bind: "0.0.0.0:{{ serviceinfo.port.host_port | default('8083') }}"
device_specific_store_driver:
  Directory:
    path: /etc/fdo/stores/serviceinfo_api_devices
service_info_auth_token: "{{ service_info_api_server_auth_token }}"
admin_auth_token: "{{ service_info_api_server_admin_auth_token }}"
...
