name            = "edge-ami-image"
description     = "Blueprint for Edge AMI image"
version         = "0.0.1"
distro          = ""

[[packages]]
name = "cloud-init"
version = "*"

[[customizations.user]]
name = "{{ admin_user }}"
password = "{{ admin_password }}"
groups = ["wheel"]