region="{{ region }}"
stack="{{ stack }}"
instance_name="{{ instance_name }}"
instance_type="{{ instance_type }}"
ssh_key="{{ ssh_key }}"
ami="{{ ami }}"
admin_user="{{ admin_user }}"
admin_password="{{ admin_password }}"
my_ip="{{ my_ip }}"
image_registry="{{ image_registry }}"
iso_storage_bucket="{{ iso_storage_bucket }}"