region="{{ region }}"
stack="{{ stack }}"
instance_name="{{ instance_name }}"
instance_type="{{ instance_type }}"
ssh_key="{{ ssh_key }}"
ami="{{ ami }}"
admin_user="{{ admin_user }}"
admin_password="{{ admin_password }}"
my_ip="{{ my_ip }}"
iso_bucket_name="{{ iso_bucket_name }}"
ami_bucket_name="{{ ami_bucket_name }}"
ostree_bucket_name="{{ ostree_bucket_name }}"
base_domain="{{ base_domain }}"
subdomain="{{ subdomain }}"