variable "region" {
  description = "AWS region"
  type        = string
  default     = "{{ region }}"
}

variable "stack" {
  description = "Name of Stack"
  type        = string
  default     = "{{ stack }}"
}

variable instance_name {
  description = "EC2 instance name"
  type        = string
  default     = "{{ instance_name }}"
}

variable "instance_type" {
  description = "EC2 instance type to use"  
  type = string
  default = "{{ instance_type }}"
}

variable ssh_key {
  description = "SSH key pair name"
  type        = string
  default     = "{{ ssh_key }}"
}

variable "ami" {
  description = "AMI to use"
  type = string
  default = "{{ ami }}"
}

variable "admin_user" {
  description = "Default password for ec2-user account"
  type = string
  default = "admin"
}

variable "admin_password" {
  description = "Default password for ec2-user account"
  type = string
  default = "{{ admin_password }}"
}