mkdir -p /var/log/journal

echo -e "{{ admin_user }}\tALL=(ALL)\tNOPASSWD: ALL" >> /etc/sudoers.d/freewheelers

firewall-offline-cmd --zone=public --add-port=80/tcp
firewall-offline-cmd --zone=public --add-port=443/tcp

{% if microshift %}
firewall-offline-cmd --zone=trusted --add-source=10.42.0.0/16
firewall-offline-cmd --zone=trusted --add-source=169.254.169.1
firewall-offline-cmd --zone=public --add-port=6443/tcp

cat > /etc/crio/openshift-pull-secret << EOF
{{ pull_secret }}
EOF

# Set KUBECONFIG context for root user
echo -e 'export KUBECONFIG=/var/lib/microshift/resources/kubeadmin/kubeconfig' >> /root/.profile

{% endif %}

systemctl set-default graphical.target
systemctl enable cockpit.socket
